@charset "utf-8";

/*------------------------------------------------*/

/* Footer */

/*------------------------------------------------*/

.footer {
  background: #f6f6f6;
}

.footer._nomenu {
  position: relative;
  margin-top: 16px;
  border-top: 4px solid rgb(247, 176, 0);
}
.footer._nomenu::before {
  position: absolute;
  top: -16px;
  left: 0;
  display: block;
  width: 100%;
  height: 12px;
  background-color: rgb(208,17,27);
  content: '';
}

/*------------------------------------------------*/

/* footer_social */

/*------------------------------------------------*/

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 48px 0;
  border-bottom: 1px solid #e0e0e0;
}

.social_box {
  margin: 0 auto;
}

.footer_social .title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 7px;
  margin-right: 30px;
}
._csstrans .footer_social a .title {
  transition: opacity .6s cubic-bezier(.165, .84, .44, 1);
}
.footer_social a:hover .title {
  opacity: .7;
}

.footer_social .social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer_social .social_account {
  margin: 0 10px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: rgb(224, 224, 224);
  background-image: url(../images/icon_social.png);
  background-size: cover;
}
._csstrans .footer_social a .social_account {
  transition: opacity .6s cubic-bezier(.165, .84, .44, 1);
}
.footer_social a:hover .social_account {
  opacity: .7;
}

.footer_social .social_account:nth-child(2) {
  background-position: 0 0;
}

.footer_social .social_account:nth-child(3) {
  background-position: 25% 0;
}

.footer_social .social_account:nth-child(4) {
  background-position: 50% 0;
}

.footer_social .social_account:nth-child(5) {
  background-position: 75% 0;
}

@media screen and (max-width:1150px) {
  .footer_social {
    padding-top: 4.1739%;
    padding-bottom: 4.1739%;
  }
}

@media screen and (max-width:767px) {
  .footer_social {
    padding-top: 56px;
    padding-bottom: 30px;
  }
  .footer_social .social_list {
    position: relative;
  }
  .footer_social .title {
    display: block;
    position: absolute;
    margin: 0;
    top: -32px;
    font-size: 1.2rem;
  }
  .footer_social .social_account {
    width: 42px;
    height: 42px;
    margin: 0 12px;
  }
}

/*------------------------------------------------*/

/* footer_links */

/*------------------------------------------------*/

.footer_links {
  width: calc(1100 / 1150 * 100%);
  max-width: 1150px;
  margin: 55px auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 21.43% 20% 21.43% 17.14% 17.14%;
  grid-template-columns: 21.43% 20% 21.43% 17.14% 17.14%;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "products jihanki quality_health corporate corporate""products entertainments sustainability faq .";
}

.footer_links .footer_links_block.home {
  display: none;
}

.footer_links .footer_links_block {
  padding-left: 15px;
}

.footer_links .products {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: products;
}

.footer_links .jihanki {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: jihanki;
}

.footer_links .entertainments {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: entertainments;
}

.footer_links .quality_health {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: quality_health;
}

.footer_links .sustainability {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: sustainability;
}

.footer_links .corporate {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: corporate;
}

.footer_links .corporate .links {
  -webkit-column-count: 2;
  column-count: 2;
}

.footer_links .corporate .link:nth-child(5) {
  width: 125%;
}

.footer_links .corporate .link:last-child {
  display: none;
}

.footer_links .faq {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: faq;
}

.footer_links .title {
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 15px;
}

.footer_links .title::before {
  content: '';
  width: 8px;
  height: 1px;
  background: #d0111b;
  position: absolute;
  left: -15px;
  top: calc(50% - 1px);
}

.footer_links .link {
  font-size: 1.2rem;
  line-height: 2.333;
}
.footer_links .title a:hover,
.footer_links .link a:hover {
  opacity: .7;
}

@media screen and (max-width:1150px) {
  .footer_links {
    margin-top: 4.7826%;
  }
}

@media screen and (max-width:980px) {
  .footer_links {
    -ms-grid-columns: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "products jihanki entertainments quality_health" "sustainability corporate faq .";
  }
  .footer_links .products {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .footer_links .jihanki {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .footer_links .entertainments {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .footer_links .quality_health {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .footer_links .sustainability {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .footer_links .corporate {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .footer_links .faq {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .footer_links .corporate .links {
    -webkit-column-count: 1;
    column-count: 1;
  }
  .footer_links .corporate .link:last-child {
    display: block;
  }
}

@media screen and (max-width:767px) {
  .footer_links {
    width: 100%;
    margin: 0;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "home quality_health""products sustainability""jihanki  corporate""entertainments faq";
  }

  .footer_links .footer_links_block {
    border-bottom: 1px rgb(224, 224, 224) solid;
    padding-left: 0;
    text-align: center;
    font-size: 0.8667rem;
  }
  .footer_links .footer_links_block:nth-child(-n+4) {
    border-right: 1px rgb(224, 224, 224) solid;
  }

  .footer_links .footer_links_block.home {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .footer_links .products {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .footer_links .jihanki {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer_links .entertainments {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .footer_links .quality_health {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .footer_links .sustainability {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .footer_links .corporate {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .footer_links .faq {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

  .footer_links .footer_links_block .title {
    margin-bottom: 0;
  }
  .footer_links .footer_links_block .title > a {
    display: block;
    line-height: 55px;
  }

  .footer_links .title::before {
    display: none;
  }

  .footer_links .links {
    display: none;
  }
}


/*------------------------------------------------*/

/* footer_contents */

/*------------------------------------------------*/

.footer_contents {
  position: relative;
  width: calc(1100 / 1150 * 100%);
  max-width: 1150px;
  height: 17.3913vw;
  max-height: 200px;
  margin: 0 auto;
}

.footer_contents .footer_links_block_02 {
  width: 100%;
  padding-top: 6.2609%;
  text-align: right;
}

.footer_contents .footer_links_block_02 > li {
  display: inline-block;
  font-size: 12px;
  font-weight: 900;
}

.footer_contents .footer_links_block_02 > li > a {
  position: relative;
  display: block;
}

.footer_contents .footer_links_block_02 > li > a:before {
  position: absolute;
  top: 0;
  width: 20px;
  height: 18px;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.footer_contents .footer_links_block_02 > li.subnav-1 a {
  margin-left: 40px;
  padding-right: 15px;
}

.footer_contents .footer_links_block_02 > li.subnav-2 a {
  padding-left: 27px;
}

.footer_contents .footer_links_block_02 > li.subnav-1 > a:before {
  width: 11px;
  right: 0;
}

.footer_contents .footer_links_block_02 > li.subnav-2 > a:before {
  left: 0;
  background-position: 25% 0;
}

.footer_contents .footer_links_block_03 {
  margin-top: 15px;
  text-align: right;
}

.footer_contents .footer_links_block_03 > li {
  display: inline-block;
  font-size: 11px;
}

.footer_contents .footer_links_block_03 > li > a {
  position: relative;
  display: block;
  margin: 0 calc(1.3158vw - 6.1316px);
  padding: 0 calc(1.3158vw - 6.1316px);
}

.footer_contents .footer_links_block_03 > li > a:last-child {
  margin-right: 0;
  padding-right: 3px;
}

.footer_contents .footer_links_block_03 > li > a:after {
  position: absolute;
  top: 4px;
  right: calc( -3px - (1.3158vw - 6.1316px));
  width: 1px;
  height: 10px;
  background-color: rgb(150, 148, 148);
  content: "";
}

.footer_contents .footer_links_block_03 > li:last-child > a:after {
  width: 0px;
}

.footer_contents a:hover {
  opacity: .7;
}

footer .logo {}

footer .logo > span {
  display: block;
  width: 94px;
  height: 90px;
  margin-top: -107px;
  background-image: url(../images/logo_footer.png);
  background-repeat: no-repeat;
  background-size: contain;
}
footer._nomenu .logo > span {
  margin-top: 32px;
  margin-left: auto;
}

footer .copyright {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
}
footer._nomenu .copyright {
  padding-bottom: 24px;
  text-align: right;
}

@media screen and (max-width:767px) {
  .footer_contents {
    width: 100%;
    height: auto;
    max-height: none;
    padding-bottom: 32px;
  }
  .footer_contents .footer_links_block_02 {
    width: 96%;
    max-width: 480px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
    grid-template-columns: 40% 60%;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    /* grid-template-areas: ""; */
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
    font-size: 0.7333rem;
    line-height: 16px;
  }
  .footer_contents .footer_links_block_02 > li {
    display: block;
    letter-spacing: -1px;
  }
  .footer_contents .footer_links_block_02 > li > a {
    box-sizing: border-box;
    height: 74px;
  }
  .footer_contents .footer_links_block_02 > li.subnav-2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .footer_contents .footer_links_block_02 > li.subnav-2 > a {
    padding-top: 28px;
  }
  .footer_contents .footer_links_block_02 > li.subnav-2 > a:before {
    display: none;
  }
  .footer_contents .footer_links_block_02 > li.subnav-2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
  }
  .footer_contents .footer_links_block_02 > li.subnav-1 a {
    max-width: 240px;
    margin: 0 auto;
    padding-top: 20px;
  }
  .footer_contents .footer_links_block_02 > li > a:before {
    top: 20px;
  }
  .footer_contents .footer_links_block_02 > li.subnav-1 a > span {
    display: block;
    text-align: right;
  }

  .footer_contents .footer_links_block_03 {
    width: 89.33%;
    margin: 0 auto;
    border-top: 1px rgb(224, 224, 224) solid;
    padding-top: 20px;
    text-align: left;
  }

  .footer_contents .footer_links_block_03 > li {
    line-height: 2.3636;
    padding: 0 9px;
    margin: 0 8px;
  }
  .footer_contents .footer_links_block_03 > li > a:after {
    top: 7px;
    right: -17px;
  }

  footer .logo > span {
    width: 78px;
    height: 57px;
    margin: 35px auto 15px;
    background-image: url(../images/logo_footer_sp.png);
  }

  footer .copyright,
  footer._nomenu .copyright{
    text-align: center;
  }

}
