@charset "utf-8";

/* ent common ----------------- */
/* -- ttl -- */
.game .ttl_04 { background-image: url(/sp/fan/game/images/title.png);}
.doga_news .ttl_04 { background-image: url(/sp/fan/doga/images/title.png);}
.yonkoma .ttl_04 { background-image: url(/sp/fan/images/top/title.png);}
.fanclubboard .ttl_04 { background-image: url(/sp/fanclubboard/images/title.png);}

.maturi .ttl_04 { background-image: url(/sp/fan/images/top/title.png);}
.mypage .ttl_04 { background-image: url(/sp/member/images/title.png);}

/* text */
.ent_wrapper .at {
  color: rgb(208,17,27);
}

/* main_visual ---------------- */
.top_visual {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.top_visual .top_main_visual {
	position: relative;
	overflow: hidden;
}
.top_visual .cover img {
	width: 100%;
}
.top_visual .top_main_visual_list {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
}
.top_visual .top_main_visual_list li {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
}
.top_visual .top_main_visual_list a {
	display: block;
}
.top_visual .top_main_visual_list a img {
	width: 100%;
}
.top_visual .top_main_visual_list li:first-child {
	display: block;
}

.top_visual .top_main_visual_icon {
	position: relative;
	width: 294px;
	height: 29px;
	margin: 6px auto 0;
	background-color: #fff;
}
.top_visual .top_main_visual_icon .visual_icon_btn_box {
	position: absolute;
	top: 0px;
	width: 29px;
	height: 29px;
	background-image: url(/sp/fan/images/top/btn_top_main_visual.png);
	background-repeat: no-repeat;
	background-size: 58px 29px;
}
.top_visual .top_main_visual_icon .visual_icon_btn_box.btn_prev {
	left: 0px;
	background-position: 0px 0px;
}
.top_visual .top_main_visual_icon .visual_icon_btn_box.btn_next {
	left: 265px;
	background-position: -29px 0px;
}
.top_visual .visual_icon_move_box {
	padding-top: 8px;
}
.visual_icon_move_list {
	display: block;
	height: 14px;
	margin: 0 auto;
}
.visual_icon_move_box li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: 2px;
	margin-right: 2px;
	background-image: url(/sp/common/images/visual_change_icon.png);
	background-repeat: no-repeat;
	background-size: 14px 28px;
	background-position: 0 -14px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.visual_icon_move_box li.selected {
	background-position: 0 0;
}

/* member_contact_box2 -------- */
.member_contact_outer {
	width: 310px;
	margin: 15px auto 5px;
	padding-bottom: 11px;
	background-color: #d5c7ac;
}
.member_contact_box2 h3 {
	height: 30px;
	background-color: #473a30;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
}
.member_contact_box2 p {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 13px;
	line-height: 17px;
}
.member_contact_box2 p.error {
	padding: 5px 10px 0;
	text-align: left;
	color: #d0111b;
}

.member_contact_box2 .login_box {
	width: 288px;
	margin: 0 auto;
	padding-top: 6px;
	padding-bottom: 10px;
	background-color: #fff;
}
.member_contact_box2 .login_box dt{
	float: left;
	width: 80px;
	height: 30px;
	padding-top: 2px;
	padding-left: 4px;
}
.member_contact_box2 .login_box dt.id{
}
.member_contact_box2 .login_box dt.pw{
}
.member_contact_box2 .login_box dd{
	float: left;
	width: 198px;
}
.member_contact_box2 .login_box .remember {
	margin-top: 10px;
	text-align: center;
}
.member_contact_box2 .login_box .btn_box {
	padding: 7px 10px 0;
}
.member_contact_box2 .login_box .btn_box .btn_101 {
	float: left;
	width: 149px;
}
.member_contact_box2 .login_box .btn_box .btn_box_r {
	float: right;
	width: 97px;
}
.member_contact_box2 .login_box .btn_box .btn_box_r a {
	display: block;
	padding-top: 1px;
	padding-left: 11px;
	background-image: url(/sp/fan/images/top/tag_loginbox.png);
	background-repeat: no-repeat;
	background-size: 7px 11px;
	background-position: 2px 3px;
	font-size: 11px;
	line-height: 15px;
	text-decoration: underline;
}
.member_contact_box2 .login_box .btn_box .btn_box_r.mg-t5 {
	margin-top: 7px;
}
.member_contact_outer .item_02,
.member_contact_outer .item_03,
.member_contact_outer .item_04,
.member_contact_outer .item_05 {
	width: 288px;
	margin: 0 auto;
	background-color: #fff;
}
.member_contact_outer .item_02 {
	padding: 10px 0 5px;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
}
.member_contact_outer .item_02 span {
	font-size: 20px;
	color: #d0111b;
}
.member_contact_outer .item_03 {
	border-top: 1px #d5c7ac solid;
	padding-bottom: 6px;
}
.member_contact_outer .item_03 .btn_101 {
	display: block;
	margin-top: 6px;
	padding: 0 10px ;
}
.member_contact_outer .item_03 .btn_101_i a {
	border-radius: 5px;
}
.member_contact_outer .item_04 {
	border-top: 1px #d5c7ac solid;
	padding-top: 6px;
	padding-bottom: 6px;
}
.member_contact_outer .item_04 li {
	display: block;
	float: left;
	width: 50%;
}
.member_contact_outer .item_04 li a {
	display: block;
	margin: 0 15px;
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
}
.member_contact_outer .item_04 li a span {
	display: table-cell;
	height: 24px;
	padding-top: 2px;
	padding-left: 16px;
	background-image: url(/sp/common/images/tag_202.png);
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: left center;
	vertical-align: middle;
	font-size: 12px;
	line-height: 15px;
	color: #473a30;
	text-decoration: underline;
}
.member_contact_outer .item_05 {
	border-top: 1px #d5c7ac solid;
	padding-top: 6px;
	padding-bottom: 6px;
}
.member_contact_outer .item_05 p {
	display: block;
	padding: 0 10px 0 0;
}
.member_contact_outer .item_05 a {
	display: block;
	float: right;
	width: 100px;
	border-radius: 5px;
	background-color: #ff9000;
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
}
.member_contact_outer .item_05 a span {
	display: table-cell;
	height: 29px;
	padding-top: 2px;
	padding-left: 16px;
	background-image: url(/sp/common/images/tag_501.png);
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: left center;
	vertical-align: middle;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	color: #fff;
}



/* game_sub_navi -------------- */
.game aside .game_subnavi_box {
	width: 310px;
	margin: 15px auto 0;
}

.game aside .game_infobox {
	height: 40px;
}
.game aside .game_infobox li {
	display: block;
	height: 31px;
	border-radius: 6px;
	border: 1px #ae9462 solid;
	background-color: #e7dfcf;
}
.game aside .game_infobox li.btn01 {
	float: left;
	width: 106px;
}

.game aside .game_infobox li.btn01 {
	border: none;
    background: none;
    padding-top: 5px;
    padding-left: 3px;
}
.game aside .game_infobox li.btn02 {
	float: right;
	width: 192px;
}
.game aside .game_infobox li.btn01 span,
.game aside .game_infobox li.btn02 a {
	display: table-cell;
	height: 31px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 12px;
	line-heigt: 13px;
	text-align: center;
}
.game aside .game_infobox li.btn01 span {
	width: 106px;
}

.game aside .game_infobox li.btn01 span{
	text-align: left;
    padding-left: 4px;
    font-size: 14px;
    border-left: 3px #47303a solid;
    line-height: 14px;
    display: inline;
}
.game aside .game_infobox li.btn02 a {
	width: 192px;
}
.game aside .game_infobox li.btn02 a span {
	padding-left: 16px;
	padding-right: 4px;
	background-image: url(/sp/common/images/tag_202.png);
	background-repeat: no-repeat;
	background-size: 12px 12px;
}

.game aside .game_panel {
	display: block;
	float: left;
	width: 140px;
	height: 74px;
	margin-top: 5px;
	border: 1px #e9e4d8 solid;
	padding: 5px;
	background-color: #fff;
}
.game aside .game_panel:nth-child(2n+0) {
	float: right;
}

.game aside .game_panel .inner {
	position: relative;
}
.game aside .game_panel .img {
	float: left;
	width: 74px;
	height: 74px;
}
.game aside .game_panel .img img {
	width: 72px;
	height: 72px;
	border: 1px #c9c8c8 solid;
}
.game aside .game_panel .ttl {
	float: left;
	width: 66px;
	height: 43px;
	background-repeat: no-repeat;
	background-size: 70px 43px;
	background-position: 0px 0px;
	overflow: hidden;
}
.game aside #slot.game_panel .ttl { background-image: url(/sp/fan/game/images/ttl_s/slot.png);}
.game aside #roulette.game_panel .ttl { background-image: url(/sp/fan/game/images/ttl_s/jihanki_roulette.png);}
.game aside #blendgets.game_panel .ttl { background-image: url(/sp/fan/game/images/ttl_s/blendgets.png);}
.game aside #blendq.game_panel .ttl { background-image: url(/sp/fan/game/images/ttl_s/blendq.png);}
.game aside #yuzusan_quiz.game_panel .ttl { background-image: url(/sp/fan/game/images/ttl_s/yuzusan_quiz.png);}
.game aside #mosaicquiz.game_panel .ttl { background-image: url(/sp/fan/game/images/ttl_s/mosaicquiz.png);}
.game aside #quiz.game_panel .ttl { background-image: url(/sp/fan/game/images/ttl_s/quiz.png);}
.game aside #game_bigorsmall.game_panel .ttl { background-image: url(/sp/fan/game/images/ttl_s/bigorsmall.png);}
.game aside #game_himekuri.game_panel .ttl { background-image: url(/sp/fan/game/images/ttl_s/game_himekuri.png);}
.game aside #miumini01.game_panel .ttl { background-image: url(/sp/fan/game/images/ttl_s/miu_minigame01.png);}
.game aside #game_machigaisagashi.game_panel .ttl { background-image: url(/sp/fan/game/images/ttl_s/machigaisagashi.png);}

.game aside .game_panel .ttl img {
	display: none;
}
.game aside .game_panel .txt {
	display: none;
}
.game aside .game_panel .icon {
	position: absolute;
	right: -3px;
	bottom: -2px;
	width: 65px;
	height: 32px;
	background-image: url(/sp/fan/game/images/icon.png);
	background-repeat: no-repeat;
	background-size: 65px 32px;
	background-position: 0px 0px;
}
.game aside .game_panel.type_pt .icon {
	width: 32px;
	background-position: -33px 0px;
}
.game aside .game_panel.type_pr .icon {
	width: 32px;
}
.game aside .game_panel.type_n .icon {
	background-image: none;
}


/* ent_bottom_menu ------------ */
/* ent_c ---------------------- */
.layout04 .ent_bottom_menu {
	margin: 30px auto 0;
}
.layout04 .ent_bottom_menu li {
	display: block;
	border-right: 1px #e9e4d8 solid;
	border-bottom: 1px #e9e4d8 solid;
	border-left: 1px #e9e4d8 solid;
	background-color: #fff;
}
.layout04 .ent_bottom_menu li.btn_to_top {
	border: none;
	background-color: #473a30;
}
.layout04 .ent_bottom_menu li a {
	display: block;
	padding-left: 10px;
}
.layout04 .ent_bottom_menu li a span {
	display: table-cell;
	height: 39px;
	padding-top: 2px;
	padding-left: 16px;
	background-image: url(/sp/common/images/tag_202.png);
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: left center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
}
.layout04 .ent_bottom_menu li.btn_to_top a {
	padding-left: 0px;
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
}
.layout04 .ent_bottom_menu li.btn_to_top a span {
	padding-left: 18px;
	background-image: url(/sp/common/images/tag_501.png);
	background-size: 14px 14px;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
}

.layout04.game .ent_bottom_menu.bottom_menu_ent_c .btn01 { background-color: #e9e4d8; }
.layout04.doga_news .ent_bottom_menu.bottom_menu_ent_c .btn02 { background-color: #e9e4d8; }
.layout04.yonkoma .ent_bottom_menu.bottom_menu_ent_c .btn03 { background-color: #e9e4d8; }
.layout04.maturi .ent_bottom_menu.bottom_menu_ent_c .btn04 { background-color: #e9e4d8; }
.fanclubboard .ent_bottom_menu.bottom_menu_ent_c .btn05 { background-color: #e9e4d8; }

.layout04 .about_monthlypoints .ent_bottom_menu.bottom_menu_member .btn01 { background-color: #e9e4d8; }
.layout04 .howto_monthlypoints .ent_bottom_menu.bottom_menu_member .btn02 { background-color: #e9e4d8; }
.layout04 .birthday .ent_bottom_menu.bottom_menu_member .btn03 { background-color: #e9e4d8; }
.layout04 .melmag .ent_bottom_menu.bottom_menu_member .btn04 { background-color: #e9e4d8; }


/* ---------------------------- */



/* monthly point --------------- */

.mypage #monthly_howto_ttl001{
	margin: 0 5px;
	border: 2px solid #FF9000;
	padding: 7px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: #fff;
}
.mypage #monthly_howto_ttl001 p{
}
.mypage #monthly_howto_ttl002{
	margin: 0 5px;
	border: 2px solid #FF9000;
	padding: 7px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: #fff;
}
.mypage #monthly_howto_ttl002 p{
}
.mypage .monthly_howto ul{
	margin-left:5px;
}
.mypage .monthly_howto li{
	float: left;
	text-align:center;
	width:33%;
}
.mypage #monthly_howto_caution{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #bbb;
	margin:10px 5px 0 5px;
	background-color: #fff;
}
.mypage #monthly_howto_caution h2{
	color: #FF6633;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bbb;
	padding:5px 0px 3px 5px;
}
.mypage #monthly_howto_caution div{
	padding:5px 47px 5px 5px;
	background:url(../images/monthly/monthly_howto_ico01.png) no-repeat right center;
	-webkit-background-size:46px 53px;
 	-moz-background-size:46px 53px;
 	-o-background-size:46px 53px;
 	background-size:46px 53px;
	font-size:0.9em;
	line-height:1.3em;
}
.mypage .monthly_howto_caution_r{
	color: #CC0000;
	font-weight:bold;
}
.mypage .monthly_about_box01 ul li{
	border: 2px solid #FF9000;
	padding: 7px;
	box-sizing: border-box;
	border-radius:6px;
	background-color: #fff;
}
.mypage .monthly_about_box01 ul li:nth-child(even){
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding:0 0 0 0;
}
.mypage .monthly_about_box01 ul li.arrow{
	background-color: transparent;
	text-align:center;
	line-height:0.9em;
}
.mypage .monthly_about_box01 ul li p{
	padding:0 0 0 65px;
	line-height:1.2em;
	display:table-cell;
	height:40px;
	vertical-align:middle;
	layout-grid-line:40px;
}
.mypage .monthly_about_box01 ul li#step1 p{
	background:url(../images/monthly/about_monthly_s1.png) no-repeat left center;
	-webkit-background-size:60px 30px;
 	-moz-background-size:60px 30px;
 	-o-background-size:60px 30px;
 	background-size:60px 30px;
}
.mypage .monthly_about_box01 ul li#step2 p{
	background:url(../images/monthly/about_monthly_s2.png) no-repeat left center;
	-webkit-background-size:60px 30px;
 	-moz-background-size:60px 30px;
 	-o-background-size:60px 30px;
 	background-size:60px 30px;
}
.mypage .monthly_about_box01 ul li#step3 p {
	background:url(../images/monthly/about_monthly_s3.png) no-repeat left center;
	-webkit-background-size:60px 30px;
 	-moz-background-size:60px 30px;
 	-o-background-size:60px 30px;
 	background-size:60px 30px;
}
.mypage .monthly_about_box02{
	border-radius:6px;
	border: 1px solid #BFB195;
	box-sizing: border-box;
	margin-top: 15px;
	background-color: #fff;
}
.mypage .monthly_about_box02 h4 {
	padding:8px 0 12px 8px;
	background-image: url(../images/monthly/about_monthly_bk01.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	-webkit-background-size:5px 6px;
	-moz-background-size:5px 6px;
	-o-background-size:5px 6px;
	background-size:5px 6px;
	color: #FF6600;
	font-size:1.2em;
}
.mypage .monthly_about_box02 ul{
	margin:8px 7px 15px 7px;
}
.mypage .monthly_about_box02 ul li{
	background-image: url(../images/monthly/about_monthly_tag01.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	-webkit-background-size:11px 11px;
	-moz-background-size:11px 11px;
	-o-background-size:11px 11px;
	background-size:11px 11px;
	padding:0 0 0 14px;
	margin-top:7px;
	font-size: 12px;
	line-height: 18px;
}
.mypage .monthly_about_box03 li{
	width:49%;
	padding:0 2px 0 4px;
}
.mypage .monthly_about_box03 li div{
	display:table-cell;
	height:40px;
	vertical-align:middle;
	layout-grid-line:40px;
}
.mypage .monthly_about_box03 li a{
	text-align:left;
	background-image: url(../../common/images/tag_9.png);
	background-repeat: no-repeat;
	background-position: left center;
	-webkit-background-size:15px 15px;
	-moz-background-size:15px 15px;
	-o-background-size:15px 15px;
	background-size:15px 15px;
	padding:5px 0 5px 17px;
	font-weight:bold;
	font-size:0.9em;
	line-height:1.2em;
}
.mypage .monthly_about_box01_b{
	font-weight:bold;
}

.mypage .monthly_howto {
	padding-bottom: 10px;
	background-color: #fff;
}

.mypage .red {
	color: #d0111b;
}

.layout06.form_394 #main h1.ttl_01,
.fanclubboard .ttl_301,
.mypage .ttl_301 {
	border-radius: 6px;
	background-color: #473a30;
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
}
.layout06.form_394 #main h1.ttl_01 span,
.fanclubboard .ttl_301 span,
.mypage .ttl_301 span {
	display: table-cell;
	height: 29px;
	padding-top: 2px;
	vertical-align: middle;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
}
.layout06.form_394 #main h1.ttl_01 {
	margin-bottom: 10px;

}
.layout06.form_394 #main h1.ttl_01.ttl_01left {
	padding: 0 10px;
	margin-bottom: 10px;
	text-align: left;
}
.layout06.form_394 #main .form_tit_box h1.ttl_01 {
	display: none;
}
